/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

/*# sourceMappingURL=style.css.map */

/* new css */

p.comment-form-author {display: flex;width: 40%;}
p.comment-form-email{display: flex; width: 40%;}
p.comment-form-url{display: flex;width: 40%;}
p.comment-form-comment{display: flex;width: 40%;}
#respond input[type=text]{padding: 9px 12px!important;}
form#commentform label {width: 20%!important;}

input#submit {
    font-size: 100%;
    vertical-align: middle;
    margin: 0;
    font-family: sans-serif;
    color: #222;
    padding: 1px 6px;
    line-height: normal;
    border-radius: 6px;
}

div#respond {
    display: none;
}


div#rev_slider_2_1 {
    display: block!important;
}

li#mega-menu-item-16140 {
    opacity: 0!important;
}



#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-item > a.mega-menu-link:hover{    background: #00abd2!important;}


#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{font-size:12px!important}

.mega-menu-wrap ul li ul li a {
text-transform: capitalize!important;
}

.mega-menu-wrap ul li a{
text-transform: uppercase!important;
}


#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-item > a.mega-menu-link:after {
    content: initial!important;
}

#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-item > a.mega-menu-link {
    
    background: #1b80ce!important;

}



#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    color: #fefefe;
     background: #5aab1e;
    border-bottom: 1px solid rgba(254, 254, 254, 0.1)!important;}
#mega-menu-item-16078 .mega-sub-menu{background:#5aab1e !important;}

#mega-menu-wrap-top-navigation #mega-menu-top-navigation > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover{    background: #74bf3d !important; font-weight:normal !important;}