/* ADMIN TOOLBOX
---------------------------------------------------*/
.admin-inline-toolbox {
  margin:0 0 20px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  background: #eee;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6; 
  padding:10px 0;
}

.admin-inline-toolbox ul {
  margin: 0;
  padding: 0;
}

.admin-inline-toolbox li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

/* Fullscreen Toggle */
.noo-admin-tog-fullscreen,
.noom-admin-clear-config{
  border: 1px solid #ccc;
  background: #e6e6e6;
  padding: 5px 10px;
}



.clearfix{
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------------------------*/
/* NOO MEGAMENU BASE
---------------------------------------------------*/

.noo-menu-item-options .noo-megamenu .mega-inner {
  padding: 10px;
  *zoom: 1;
}
.noo-menu-item-options .noo-megamenu .mega-inner:before,
.noo-menu-item-options .noo-megamenu .mega-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-menu-item-options .noo-megamenu .mega-inner:after {
  clear: both;
}
.noo-menu-item-options .noo-megamenu .noo-row + .noo-row {
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
.noo-menu-item-options .noo-megamenu .mega > .mega-dropdown-menu {
  min-width: 200px;
  display: none;
}
.noo-menu-item-options .noo-megamenu .mega.open > .mega-dropdown-menu,
.noo-menu-item-options .noo-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
  display: block;
}
.noo-menu-item-options .noo-megamenu .mega-group {
  *zoom: 1;
}
.noo-menu-item-options .noo-megamenu .mega-group:before,
.noo-menu-item-options .noo-megamenu .mega-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-menu-item-options .noo-megamenu .mega-group:after {
  clear: both;
}
.noo-menu-item-options .noo-megamenu .mega-nav .mega-group > .mega-group-title,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
.noo-menu-item-options .noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  background: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.noo-menu-item-options .noo-megamenu .mega-nav .mega-group > .mega-group-title:hover,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover,
.noo-menu-item-options .noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover,
.noo-menu-item-options .noo-megamenu .mega-nav .mega-group > .mega-group-title:active,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:active,
.noo-menu-item-options .noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:active,
.noo-menu-item-options .noo-megamenu .mega-nav .mega-group > .mega-group-title:focus,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus,
.noo-menu-item-options .noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
  background: inherit;
  color: inherit;
}
.noo-menu-item-options .noo-megamenu .mega-group-ct {
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.noo-menu-item-options .noo-megamenu .mega-group-ct:before,
.noo-menu-item-options .noo-megamenu .mega-group-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-menu-item-options .noo-megamenu .mega-group-ct:after {
  clear: both;
}
.noo-menu-item-options .noo-megamenu .mega-group-ct > .noo-row > [class*="noo-span"] > .mega-inner {
  padding: 0;
}
.noo-menu-item-options .noo-megamenu .noo-span12.mega-col-nav .mega-inner {
  padding: 5px;
}
.noo-menu-item-options .noo-megamenu .mega-nav,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.noo-menu-item-options .noo-megamenu .mega-nav > li,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav > li {
  list-style: none;
  margin-left: 0;
}
.noo-menu-item-options .noo-megamenu .mega-nav > li a,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav > li a {
  white-space: normal;
}
.noo-menu-item-options .noo-megamenu .mega-group > .mega-nav,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-group > .mega-nav {
  margin-left: -5px;
  margin-right: -5px;
}
.noo-menu-item-options .noo-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 5px;
}
.noo-menu-item-options .noo-megamenu .noo-module {
  margin-bottom: 10px;
}
.noo-menu-item-options .noo-megamenu .noo-module .module-title {
  margin-bottom: 0;
}
.noo-menu-item-options .noo-megamenu .noo-module .module-ct {
  margin: 0;
  padding: 0;
}
.noo-menu-item-options .noo-megamenu .mega-align-left > .dropdown-menu {
  left: 0;
}
.noo-menu-item-options .noo-megamenu .mega-align-right > .dropdown-menu {
  left: auto;
  right: 0;
}
.noo-menu-item-options .noo-megamenu .mega-align-center > .dropdown-menu {
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.noo-menu-item-options .noo-megamenu .dropdown-submenu.mega-align-left > .dropdown-menu {
  left: 100%;
}
.noo-menu-item-options .noo-megamenu .dropdown-submenu.mega-align-right > .dropdown-menu {
  left: auto;
  right: 100%;
}
.noo-menu-item-options .noo-megamenu .mega-align-justify {
  position: static;
}
.noo-menu-item-options .noo-megamenu .mega-align-justify > .dropdown-menu {
  left: 0;
  margin-left: 0;
  top: auto;
  right: 0;
}
.noo-menu-item-options .noo-megamenu .mega-caption {
  display: block;
  white-space: nowrap;
}
.noo-menu-item-options .noo-megamenu .noo-nav .caret,
.noo-menu-item-options .noo-megamenu .dropdown-submenu .caret,
.noo-menu-item-options .noo-megamenu .mega-menu .caret {
  display: none;
}
.noo-menu-item-options .noo-megamenu .noo-nav > .dropdown > .dropdown-toggle .caret {
  display: inline-block;
}
.noo-menu-item-options .noo-megamenu .noo-nav [class^="icon-"],
.noo-menu-item-options .noo-megamenu .noo-nav [class*=" icon-"] {
  margin-right: 5px;
}
/*
@media (min-width: 768px) {
  .noo-megamenu.animate .mega > .mega-dropdown-menu {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
  }
  .noo-megamenu.animate .mega.animating > .mega-dropdown-menu {
    display: block!important;
  }
  .noo-megamenu.animate .mega.open > .mega-dropdown-menu,
  .noo-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
    opacity: 1;
  }
  .noo-megamenu.animate.zoom .mega > .mega-dropdown-menu {
    transform: scale(0, 0);
    transform-origin: 20% 20%;
    -webkit-transform: scale(0, 0);
    -webkit-transform-origin: 20% 20%;
    -ms-transform: scale(0, 0);
    -ms-transform-origin: 20% 20%;
    -o-transform: scale(0, 0);
    -o-transform-origin: 20% 20%;
  }
  .noo-megamenu.animate.zoom .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  .noo-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
  }
  .noo-megamenu.animate.elastic .mega > .mega-dropdown-menu {
    transform: scale(0, 1);
    transform-origin: 10% 0;
    -webkit-transform: scale(0, 1);
    -webkit-transform-origin: 10% 0;
    -ms-transform: scale(0, 1);
    -ms-transform-origin: 10% 0;
    -o-transform: scale(0, 1);
    -o-transform-origin: 10% 0;
  }
  .noo-megamenu.animate.elastic .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  .noo-megamenu.animate.slide .mega.animating > .mega-dropdown-menu {
    overflow: hidden;
  }
  .noo-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: -100%;
  }
  .noo-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {
    margin-top: 0%;
  }
  .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
    min-width: 0;
  }
  .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {
    min-width: 200px;
    margin-top: 0;
    margin-left: -500px;
  }
  .noo-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div {
    margin-left: 0;
  }
}
*/

#noo-admin-megamenu {
  min-height: 400px;
  /* background: url(../images/grid-bg.jpg) top left; */
  position: relative;
}

.admin-inline-toolbox h3 {
  font-size: 18px;
  line-height: 20px;
}
.noo-admin-control-fixed {
    height: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.noo-admin-megamenu .disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}

/* Intro
---------------------*/
#noo-admin-mm-intro,
#noo-admin-preview-intro{
  float: left;
  padding: 20px 200px 20px 20px;
  text-shadow: 0 1px 1px white;
}

#noo-admin-mm-intro h3,
#noo-admin-preview-intro h3{
  margin-top: 0;
}

#noo-admin-mm-intro p,
#noo-admin-preview-intro p{
  display: block;
  color: #999999;
  overflow: hidden;
}



/* Toolbox
---------------------*/
#noo-admin-mm-tb {
  float: left;
  text-shadow: 0 1px 1px #fff;
}

#noo-admin-megamenu .admin-inline-toolbox {
  
}

#noo-admin-mm-tb .admin-toolbox {
  height: 119px;
  padding: 20px;
  display: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#noo-admin-mm-tb .admin-toolbox h3 {
  margin-top: 0;
}

#noo-admin-mm-tb .admin-toolbox ul {
  margin-right: 20px;
  float: left;
}

#noo-admin-mm-tb .admin-toolbox li > label {
  font-size: 11px;
  color: #999999;
}

#noo-admin-mm-tb .btn [class^="icon-"],
#noo-admin-mm-tb .btn [class*=" icon-"] {
  margin-right: 0;
}


/* Toolbox Actions ---- */
.noo-admin-mm-row .toolbox-actions-group {
  position: absolute;
  right: 20px;
  z-index: 1000;
}

.noo-admin-mm-row .toolbox-actions-group button {
}


/* Fullscreen Toggle */
#navigation_params .noo-admin-tog-fullscreen {
  position: absolute;
  right: 0;
  top: -50px;
}


/* The Menu
---------------------*/
#noo-admin-mm-container {

}
.noonav{
  /* background: url("../images/grid-bg.jpg") repeat scroll left top rgba(0, 0, 0, 0);
	border: 1px solid #CCCCCC;
    box-shadow: 0 5px 5px #EDEDED;
    padding: 20px; */
    margin-top: 20px
}
.noo-menu-item-options li{
	margin:0;
}

/* Global Menu Inner padding ---*/
.noo-menu-item-options .noo-megamenu .mega-inner {
  padding: 10px;
}


/* Menu Grid ---*/
.noo-menu-item-options .noo-megamenu .noo-row + .noo-row {
  margin-top: 0;
  border-top: 0;
}

.noo-menu-item-options .noo-megamenu .noo-row [class*="noo-span"] {
  border: 1px dotted #cccccc;  
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  background: white;
}


/* The Nav ---*/
.noo-menu-item-options .noo-megamenu .noo-span12.mega-col-nav .mega-inner {
  padding: 10px;
}

.noo-menu-item-options .noo-megamenu .noo-nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

.noo-menu-item-options .noo-megamenu .noo-nav > li > a,
.noo-menu-item-options .noo-megamenu .noo-nav > li > span {
  border: 1px solid #dddddd;
  padding: 8px 20px;
  background: #f2f2f2;
  font-weight: bold;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}
.noo-menu-item-options .noo-megamenu .noo-nav > li.display-toggle > a,
.noo-menu-item-options .noo-megamenu .noo-nav > li.display-toggle > span {
	border-color: #FF0000 !important;	
}

/* The caret */
.noo-menu-item-options .noo-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: -10px;
}


/* Dropdown ---*/
.noo-menu-item-options .noo-megamenu .dropdown-menu::before,
.noo-menu-item-options .noo-megamenu .dropdown-menu::after {
  display: none /* Hide the Arrow */
}

.noo-menu-item-options .noo-megamenu .dropdown-menu {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 0px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  min-width: 200px;
  background: #f2f2f2;
  z-index: 99;
}

.noo-menu-item-options .noo-megamenu .dropdown-menu .dropdown-menu {
  margin-top: 0;
  margin-left: 11px;
}

.noo-menu-item-options .noo-megamenu .dropdown-submenu.mega-align-right .dropdown-menu {
  margin-left: 0;
  margin-right: 11px;
}

.noo-menu-item-options .noo-megamenu .mega-nav li {
  margin-bottom: 5px;
}

.noo-menu-item-options .noo-megamenu .mega-nav li:last-child {
  margin-bottom: 0;
}

.noo-menu-item-options .noo-megamenu .mega-nav li > a,
.noo-menu-item-options .noo-megamenu .mega-nav li > span {
  padding: 5px 20px 5px 10px;
  border: 1px dotted #dddddd;
  font-size: 12px;
  color: #999999;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  display: block;
}
.noo-menu-item-options .noo-megamenu .mega-nav li.display-toggle > a,
.noo-menu-item-options .noo-megamenu .display-toggle .mega-nav li > span,
.noo-menu-item-options .noo-megamenu .display-toggle .mega-nav li > a,
.noo-menu-item-options .noo-megamenu .mega-nav li.display-toggle > span{
	border-color: #FF0000 !important;
}

/* The group ---*/
.noo-menu-item-options .noo-megamenu .mega-nav .mega-group > .mega-group-title,
.noo-menu-item-options .noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title {
  padding: 5px 20px 5px 10px;
  cursor: pointer;
}

.noo-menu-item-options .noo-megamenu .mega-group-ct {
  border: 1px solid #dddddd;
  padding: 10px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  background: #f2f2f2;
}

.noo-menu-item-options .noo-megamenu .mega-group-ct > .noo-row > [class*="noo-span"] > .mega-inner {
  padding: 10px;
}


/* Module in Menu ---*/
.noo-menu-item-options .noo-megamenu .noo-module {
  pointer-events: none;
  cursor: default;
  position: relative;
  margin: 0;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}

.noo-menu-item-options .noo-megamenu .noo-module:after {
  display: block;
  position: absolute;
  background: #eeeeee;
  right: -10px;
  bottom: -10px;
  content: "Module";
  width: 70px;
  padding: 2px 0;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  border: 1px dotted #dddddd;
  border-width: 1px 0 0 1px;
}

.noo-menu-item-options .noo-megamenu .noo-module .module-inner {
  opacity: .3;
  font-size: 12px;
}

.noo-menu-item-options .noo-megamenu .noo-module .module-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.noo-menu-item-options .noo-megamenu .noo-module .module-ct {
  overflow: hidden;
  zoom: 1;
}

/* Reset List Style in Module */
.noo-menu-item-options .noo-megamenu .noo-module ul,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-nav {
  margin: 0 0 0 15px;
}
.noo-menu-item-options .noo-megamenu .noo-module ul li,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.noo-menu-item-options .noo-megamenu .noo-module ul li a,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li a,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-module li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.noo-menu-item-options .noo-megamenu .noo-module ul li a:hover,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li a:hover,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-module li a:hover,
.noo-menu-item-options .noo-megamenu .noo-module ul li a:active,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li a:active,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-module li a:active,
.noo-menu-item-options .noo-megamenu .noo-module ul li a:focus,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li a:focus,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-module li a:focus,
.noo-menu-item-options .noo-megamenu .noo-module ul li a:visited,
.noo-menu-item-options .noo-megamenu .noo-module .noo-nav li a:visited,
.noo-menu-item-options .noo-megamenu .dropdown-menu .noo-module li a:visited {
  background: none;
  color: inherit;
  font: inherit;
}


.noo-menu-item-options .noo-megamenu [class*="noo-span"].hover .noo-module:after,
.noo-menu-item-options .noo-megamenu [class*="noo-span"].selected .noo-module:after {
  border-style: solid;
  border-color: #666666;
  background: #ffbb00;
  color: #fff;
}

/* Fix Form display problem in Modules */
.noo-menu-item-options .noo-megamenu .noo-module .control-group {
  margin-bottom: 5px;
}

.noo-menu-item-options .noo-megamenu .noo-module .controls {
  margin-left: 3px;
}


/* Open Item ---*/
.noo-menu-item-options .noo-megamenu .noo-nav > li.open > a,
.noo-menu-item-options .noo-megamenu .open > a {
  background: #333333 !important;
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
}



/* Hover Item ---*/
.noo-menu-item-options .noo-megamenu .nav-child.hover,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li > a.hover,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li > span.hover,
.noo-menu-item-options .noo-megamenu .noo-row [class*="noo-span"].hover {
  background: #fffbf0 !important;
  color: #333333 !important;
  border: 1px solid #666666 !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.noo-menu-item-options .noo-megamenu .display-toggle ul[class*="level"] > li > a.hover,
.noo-menu-item-options .noo-megamenu .display-toggle ul[class*="level"] > li > span.hover,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li.display-toggle > a.hover,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li.display-toggle > span.hover{
    border-color:#ff0000 !important;
}

.noo-menu-item-options .noo-megamenu ul[class*="level"] > li > a:hover,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li > a:focus,
.noo-menu-item-options .noo-megamenu ul[class*="level"] > li > a:active {
  background: #fffbf0 !important;
  color: #333333 !important;
  text-shadow: 0 1px 1px #fff !important;
}

/* The caret */
.noo-menu-item-options .noo-megamenu .mega-nav li a.hover:after,
.noo-menu-item-options .noo-megamenu .mega-nav li a.selected:after {
  border-left-color: #333333;
}


/* Selected Item ---*/
.noo-menu-item-options .noo-megamenu .selected {
  background: #fffbf0 !important;
  color: #333333 !important;
  border: 1px solid #666666 !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px white !important;
}
.noo-menu-item-options .noo-megamenu .display-toggle .selected{
	border-color:#ff0000 !important;
}
/* The caption ---*/
.mega-caption {
  color: #999;
  font-size: 11px;
  margin-top: 2px;
}

#noo-admin-mm-container .vertical-ltr{
	width: 30% !important;
}
#noo-admin-mm-container .vertical-rtl{
	width: 30% !important;
	float: right;
}
#noo-admin-mm-container .vertical-ltr{
	height: auto !important;
}
.noo-menu-item-options #noo-admin-mm-container .vertical-ltr .vertical,
.noo-menu-item-options #noo-admin-mm-container .vertical-ltr{
	width: 100% !important;
}
.noo-menu-item-options #noo-admin-mm-container .vertical-rtl .vertical,
.noo-menu-item-options #noo-admin-mm-container .vertical-rtl{
	width: 100% !important;
	float: none;
}
/* Fix for Joomla! Default Admin Template
--------------------------------------------------*/

#noo-admin-megamenu .noo-row [class*="noo-span"] {
  margin-left: 2.12766%;
}
#noo-admin-megamenu .noo-row [class*="noo-span"]:first-child {
  margin-left: 0;
}

/* Fix right spacing for chzn chosen in Megamenu Admin UI */
#noo-admin-megamenu ul.chzn-results {
  margin-right: 4px;
  float: none;
}

/* Fix submenu auto open on hover */
#noo-admin-megamenu .dropdown-submenu:hover .dropdown-menu {
  display: none;
}

#noo-admin-megamenu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.noo_style_btn {
    border: 1px solid #ffffff;
    display: inline-block;
    height: 32px;
    margin-right: 5px;
    padding: 2px;
    width: 38px;
}
.noo_style_btn i {
    display: inline-block;
    height: 32px;
    width: 38px;
}
.noo-selected{
	
}
.noo-hide{
	display: none;
}
.noo-label{
	display: block;
    height: 20px;
    line-height: 20px !important;
    min-width: 210px;
}
.noo-megamenu .sub-hidden-collapse > div.noo-nav-child,
.noo-megamenu .hidden-collapse,
.noo-megamenu .hidden-collapse.hover,
.noo-megamenu .noo-row .hidden-collapse.hover{
	border:1px dotted #0038FF !important;
} 

.noo-megamenu ul{
	min-height: 20px
}

.noo-menu-fixed-container{
	
}