.horizontal-up .noo-megamenu .mega-align-center > .dropdown-menu ,
.horizontal-down .noo-megamenu .mega-align-center > .dropdown-menu {
  	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.noo-megamenu.animate .mega > .mega-dropdown-menu {
   transition: all 400ms;
   -webkit-transition: all 400ms;
   -ms-transition: all 400ms;
   -o-transition: all 400ms;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   opacity: 0;
   visibility: hidden;
 }
 .noo-megamenu.animate .mega.animating > .mega-dropdown-menu {
   display: block!important;
 }
 .noo-megamenu.animate .mega.open > .mega-dropdown-menu,
 .noo-megamenu.animate .mega:hover > .mega-dropdown-menu,
 .noo-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
   opacity: 1;
   visibility: visible;
 }
 .noo-megamenu .mega.open > .mega-dropdown-menu,
 .noo-megamenu .mega:hover > .mega-dropdown-menu,
 .noo-megamenu .mega.animating.open > .mega-dropdown-menu {
   opacity: 1;
   visibility: visible;
 }
 .noo-megamenu.animate.zoom .mega > .mega-dropdown-menu {
   transform: scale(0, 0);
   transform-origin: 20% 20%;
   -webkit-transform: scale(0, 0);
   -webkit-transform-origin: 20% 20%;
   -ms-transform: scale(0, 0);
   -ms-transform-origin: 20% 20%;
   -o-transform: scale(0, 0);
   -o-transform-origin: 20% 20%;
 }
 .horizontal-down .noo-megamenu.animate.zoom .mega.mega-align-center > .mega-dropdown-menu {
   transform:translateX(-50%) scale(0, 0);
   transform-origin: 20% 20%;
   -webkit-transform:translateX(-50%) scale(0, 0);
   -webkit-transform-origin: 20% 20%;
   -ms-transform:translateX(-50%) scale(0, 0);
   -ms-transform-origin: 20% 20%;
   -o-transform:translateX(-50%) scale(0, 0);
   -o-transform-origin: 20% 20%;
 }
 .noo-megamenu.animate.zoom .mega.open > .mega-dropdown-menu,
 .noo-megamenu.animate.zoom .mega:hover > .mega-dropdown-menu {
   transform: scale(1, 1);
   -webkit-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   -o-transform: scale(1, 1);
 }
 .horizontal-down .noo-megamenu.animate.zoom .mega.mega-align-center.open > .mega-dropdown-menu,
 .horizontal-down .noo-megamenu.animate.zoom .mega.mega-align-center:hover > .mega-dropdown-menu {
   transform:translateX(-50%) scale(1, 1);
   -webkit-transform:translateX(-50%) scale(1, 1);
   -ms-transform:translateX(-50%) scale(1, 1);
   -o-transform:translateX(-50%) scale(1, 1);
 }
 .noo-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {
   transform: scale(1, 0);
   -webkit-transform: scale(1, 0);
   -ms-transform: scale(1, 0);
   -o-transform: scale(1, 0);
 }

.horizontal-down  .noo-megamenu.animate.elastic .level0 > .mega.mega-align-center > .mega-dropdown-menu {
   transform:translateX(-50%) scale(1, 0);
   -webkit-transform:translateX(-50%) scale(1, 0);
   -ms-transform:translateX(-50%) scale(1, 0);
   -o-transform:translateX(-50%) scale(1, 0);
 }
 .noo-megamenu.animate.elastic .mega > .mega-dropdown-menu {
   transform: scale(0, 1);
   transform-origin: 10% 0;
   -webkit-transform: scale(0, 1);
   -webkit-transform-origin: 10% 0;
   -ms-transform: scale(0, 1);
   -ms-transform-origin: 10% 0;
   -o-transform: scale(0, 1);
   -o-transform-origin: 10% 0;
 }
 .horizontal-down  .noo-megamenu.animate.elastic .mega.mega-align-center > .mega-dropdown-menu {
 	 transform:translateX(-50%) scale(0, 1);
   transform-origin: 10% 0;
   -webkit-transform:translateX(-50%) scale(0, 1);
   -webkit-transform-origin: 10% 0;
   -ms-transform:translateX(-50%) scale(0, 1);
   -ms-transform-origin: 10% 0;
   -o-transform:translateX(-50%) scale(0, 1);
   -o-transform-origin: 10% 0;
 }
 .noo-megamenu.animate.elastic .mega.open > .mega-dropdown-menu,
 .noo-megamenu.animate.elastic .mega:hover > .mega-dropdown-menu {
   transform: scale(1, 1);
   -webkit-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   -o-transform: scale(1, 1);
 }
 .horizontal-down .noo-megamenu.animate.elastic .mega.mega-align-center.open > .mega-dropdown-menu,
 .horizontal-down  .noo-megamenu.animate.elastic .mega.mega-align-center:hover > .mega-dropdown-menu {
   transform:translateX(-50%) scale(1, 1);
   -webkit-transform:translateX(-50%) scale(1, 1);
   -ms-transform:translateX(-50%) scale(1, 1);
   -o-transform:translateX(-50%) scale(1, 1);
 }
 .noo-megamenu.animate.slide .mega.animating > .mega-dropdown-menu {
   overflow: hidden;
   
 }
 .horizontal-down .noo-megamenu.animate.slide .mega > .mega-dropdown-menu{
 	margin-top: 50px !important;
 	visibility: hidden;
 }
 .horizontal-down .noo-megamenu.animate.slide .mega:hover > .mega-dropdown-menu{
 	margin-top: 0px !important;
 	visibility: visible;
 }
 .horizontal-down .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu{
 	margin-left:80px;
 	margin-top:0;
 	visibility: hidden;
 }
 .horizontal-down .noo-megamenu.animate.slide .mega .mega:hover > .mega-dropdown-menu{
 	margin-left:0px;
 	visibility: visible;
 }
 
 .vertical .noo-megamenu.animate.slide .mega > .mega-dropdown-menu{
 	margin-left:80px;
 	visibility: hidden;
 }
 .vertical .noo-megamenu.animate.slide .mega:hover > .mega-dropdown-menu{
 	margin-left:0;
 	visibility: visible;
 }
 .vertical .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu{
 	margin-left:80px;
 	visibility: hidden;
 }
 .vertical .noo-megamenu.animate.slide .mega .mega:hover > .mega-dropdown-menu{
 	margin-left:0px;
 	visibility: visible;
 }
 
 .noo-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
   transition: all 400ms;
   -webkit-transition: all 400ms;
   -ms-transition: all 400ms;
   -o-transition: all 400ms;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 .noo-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div,
  .noo-megamenu.animate.slide .mega:hover > .mega-dropdown-menu > div  {
   margin-top: 0%;
 }
 .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
   min-width: 0;
 }
 .noo-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {
   min-width: 200px;
   margin-top: 0;
 }
 .noo-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div,
 .noo-megamenu.animate.slide .mega .mega:hover > .mega-dropdown-menu > div {
   margin-left: 0;
 }