@media (max-width: 767px) {
	.noo-megamenu .noo-row {
		width: 100%;
	}
	.noo-menu-select{
		width: 100%;
		display: block;
		border: 1px solid #ccc;
	    border-radius: 3px;
	    -webkit-border-radius: 3px;
	    font-family: inherit;
	    padding: 0.428571rem;
	}
	.noo-nav-mb4{
		display: none;
	}

	.noo-megamenu [class*="noo-span"],
	.noo-megamenu .noo-row [class*="noo-span"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
	}
	.noo-megamenu .noo-span12,
	.noo-megamenu .noo-row .noo-span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.noo-megamenu{
		padding:0;
	}
	.noo-nav > li > a{
		border: 0px solid rgba(0, 0, 0, 0) !important;
		height: auto !important;
	    line-height: 1 !important;
	    padding-bottom: 15px !important;
	    padding-top: 15px !important;
	    margin: 0 !important;
	}
	.noo-megamenu .dropdown-menu .mega-nav > li > a{
		border: 0px solid rgba(0, 0, 0, 0) !important;
	}
}
@media (max-width: 767px) {
	.noo-megamenu .mega > .mega-dropdown-menu {
	  opacity: 1;
	  visibility: visible;
	}
	.noo-megamenu .mega > .mega-dropdown-menu{
		display: none;
	}
	.noonav .button-bar{
		background-color: transparent;
	    border: 1px solid transparent;
	    border-radius: 0 0 0 0;
	    -ms-border-radius: 0 0 0 0;
	    -o-border-radius: 0 0 0 0;
	    -webkit-border-radius: 0 0 0 0;
	    -moz-border-radius: 0 0 0 0;
	    float: right;
	    height: 34px;
	    margin-bottom: 8px;
	    margin-top: 8px;
	    margin-right:8px;
	    padding: 6px 12px;
	    position: relative;
	    width: 48px;
	    display: block;
	}
	.noonav .button-bar:hover,
	.noonav .button-bar:focus,
	.noonav .button-bar:active{
		background-color: rgba(0, 0, 0, 0.36);
	    border: 1px solid rgba(0, 0, 0, 0.36);
	    border-radius: 4px 4px 4px 4px;
	    -moz-border-radius: 4px 4px 4px 4px;
	    -webkit-border-radius: 4px 4px 4px 4px;
	    -o-border-radius: 4px 4px 4px 4px;
	    -ms-border-radius: 4px 4px 4px 4px;
	    background-image: none;
	    box-shadow:0 0 0 transparent;
	    -o-box-shadow:0 0 0 transparent;
	    -webkit-box-shadow:0 0 0 transparent;
	}
	.noonav .icon-bar {
	    background-color: #F5F5F5;
	    -moz-border-radius: 1px 1px 1px 1px;
	    -o-border-radius: 1px 1px 1px 1px;
	    -webkit-border-radius: 1px 1px 1px 1px;
	    -ms-border-radius: 1px 1px 1px 1px;
	    border-radius: 1px 1px 1px 1px;
	    display: block;
	    height: 2px;
	    width: 22px;
	}
	.noonav .icon-bar + .icon-bar {
	  margin-top: 4px;
	}
	.noonav .navbar-brand {
	    color: #fff;
	    display: block;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 20px;
	    max-width: 200px;
	    padding: 15px;
	    text-align: center;
		text-decoration:none;
		
		float: right;
	}
	.noonav{
		float: none !important;
		display: block;
	}
	.noonav > div > .noo-megamenu.noocollapse{
	    display:none;
	    border: medium none;
	    padding: 0;
	    float: none !important;
	    
	}
	.noonav > div > .noo-megamenu.noocollapsing{
		overflow: hidden ;
	    position: relative ;
	    transition: height 0.35s ease 0s;
	    -moz-transition: height 0.35s ease 0s;
	    -o-transition: height 0.35s ease 0s;
	    -webkit-transition: height 0.35s ease 0s;
	    -ms-transition: height 0.35s ease 0s;
	}
	.noonav > div > .noo-megamenu.noocollapse.noo-collapse-open{
		display: block;
		clear: both;
	}
	.noo-nav > li{
		float: none;
	}
	.noonav > .noo-megamenu .noo-nav > li > a{
		padding:12px;
		margin:0;
		height: auto;
		line-height: 1;
		position: relative;
	}
	.noonav .noo-nav > li > a:hover, .noonav .noo-nav > li:hover > a{
		background: none;	
	}
	.noonav .noo-megamenu .dropdown-menu li > a:hover,
	.noonav .noo-megamenu .dropdown-menu li > a:focus,
	.noonav .dropdown-menu li > a:hover, 
	.noonav .dropdown-menu li > a:focus,
	.noonav .dropdown-submenu:hover > a,
	.noonav .noo-megamenu .dropdown-menu .mega-nav > li > a:hover,
	.noonav .noo-megamenu .dropdown-menu .mega-nav > li:hover > a{
		background: none !important;
	}
	.noonav .noo-nav > li.mega:not(.sub-hidden-collapse) > a:after {
	    border-color: #FFFFFF transparent;
	    border-style: solid;
	    border-width: 4px 4px 0;
	    content: " ";
	    height: 0;
	    position: absolute;
	    right: 10px;
	    top: 50%;
	    width: 0;
	    left:auto !important;
	}
	.noo-rtl.noonav .noo-nav > li.mega:not(.sub-hidden-collapse) > a:after {
		left: 10px !important;
    	right: auto !important;
	}
	.noo-megamenu .noo-nav > .dropdown > .dropdown-toggle .caret{
		display: none !important;	
	}
	.noonav .noo-megamenu .mega-align-justify{
		position: relative !important;
	}
	.noo-megamenu .mega > .mega-dropdown-menu,
	.noo-megamenu .mega-align-center > .dropdown-menu{
	    border: 0 none !important;
	    border-radius: 0 0 0 0 !important;
	    box-shadow: none !important;
	    float: none;
	    height: auto;
	    left: 0  !important;
	    margin: 0 !important;
	    opacity: 1 !important;
	    padding: 0 !important;
	    position: relative;
	    top: 0 !important;
	    right:auto !important;
	    transform: translate(0%) scale(1, 1) !important;
		-webkit-transform: translate(0%) scale(1, 1) !important;
		-o-transform: translate(0%) scale(1, 1) !important;
		-moz-transform: translate(0%) scale(1, 1) !important;
		-ms-transform: translate(0%) scale(1, 1) !important;
	    width: 100% !important;
	}
	.noo-megamenu .noo-row + .noo-row {
	    border-top: 0px solid #EEEEEE;
	    padding-top: 0px;
	}
	.noonav .noo-megamenu .dropdown-menu a{
		padding: 6px 12px !important;
		margin:0 !important;
	}
	ul.level1 li {
	    padding-left: 15px !important;
	}
	.noo-megamenu .noo-span12.mega-col-nav .mega-inner,
	.noo-megamenu .mega-inner  {
	    padding: 0 !important;
	}
	.noonav .noo-megamenu .dropdown-submenu > a:after,
	.noonav .noo-megamenu .mega-group > a:after{
	    border-color: #000000 rgba(0, 0, 0, 0);
	    border-style: solid;
	    border-width: 4px 4px 0 !important;
	    content: " ";
	    display: inline-block;
	    height: 0;
	    position: absolute;
	    right: 19px;
	    top: 8px;
	    width: 0;
	}
	
	.noo-rtl.noonav .noo-megamenu .dropdown-submenu > a:after,
	.noo-rtl.noonav .noo-megamenu .mega-group > a:after{
	    left: 19px;
	    right:auto;
	}
	
	.noonav .noo-megamenu .dropdown-submenu > a.mega-group-title:after,
	.noonav .noo-megamenu .mega-group > a.mega-group-title:after{
		right: 10px;
	}
	.noo-rtl.noonav .noo-megamenu .dropdown-submenu > a.mega-group-title:after,
	.noo-rtl.noonav .noo-megamenu .mega-group > a.mega-group-title:after{
		left: 10px;
		right:auto;
	}
	.noo-megamenu .sub-hidden-collapse > div,
	.noo-megamenu .hidden-collapse{
		display: none !important
	} 
} 