

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #328efe;
}

::selection {
    color: #fff;
    background: #328efe;
}
.mc4wp-alert.mc4wp-success {
    text-align: center;
    padding-bottom: 30px;
}
.myb{
color: #000000!important;
    font-size: 12px!important;
    font-family: Helvetica!important;
    background: #dddddd!important;
    border: 1px solid #000!important;
    padding-left: 0px!important;
    margin-top: 30px!important;
    padding-right: 0px!important;
}
.mylab{
display: inline-block;
    height: 24px;
    font-weight: 600;
    color: #000;
}
.vvv{
border: 1px solid rgba(51, 46, 46, 0.35)!important;
    width: 80%!important;
    margin-left: 30px!important;
    height: 20px!important;
}
.mydiv{
background: #fff;
    padding: 20px;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header_top.clearfix {
    background: url(/wp-content/uploads/2017/07/head-top-bg-1.jpg);
height:135px;
}
.myp1{
color: #A4CC86;
    font-size: 20px;
    padding-top: 10px!important;
text-align: right;
}
.myp2{
color: #002D5A;
    font-size: 21px;
}
.myp3
{
   padding-top: 5px!important;
    text-align: right;
}
.cms-text {
    padding: 1.0em;
border: 1px solid #ccc;
    width: 100%;
    margin-left: -16px;
}
.cms-text1 {
    padding: 1.0em;
border: 1px solid #ccc;
    width: 100%;
    margin-left: 25px;
}
.cms-button{
color: #fff;
    background-color: rgb(117, 185, 67);
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
border-top: rgb(117, 185, 67);
    border-left: rgb(117, 185, 67);
    border-bottom: rgb(117, 185, 67);
    border-right: rgb(117, 185, 67);
}
.bor{
border-right: 1px solid #ccc;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.rr {
    width: 60%;
    height: 40px;
}
textarea.wpcf7-form-control.wpcf7-textarea.mr {
    width: 60%;
}
input.wpcf7-form-control.wpcf7-submit {
    font-family: 'open sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    border-color: #5aab1e!important;
    text-transform: Capitalize;
    background-color: #5aab1e!important;
    border: none;
    border-radius: 0px!important;
}
header.centered_logo .q_logo {
    top: 0;
    display: none;
}
.header_inner_left {
    display: none!important;
}
.border1 {
    overflow: hidden;
    border-top: 1px dashed #e5e5e5;
    padding: 16px 0 18px;
}
.qbutton.small {
    height: 24px!important;
    line-height: 24px!important;
}
.i001-testimonial, .i001-testimonial div, .i001-testimonial p {
    font-style: italic;
}
.i001-testimonial {
    background: none;
    padding: 15px;
    overflow: hidden;
    position: relative;
}
.i001-testimonial:before {
    position: absolute;
        top: 128px;
    left: -10px;
    content: '\201C';
    font-size: 250px;
    font-family: georgia, serif;
    z-index: 5;
    color: #00acd2;
    filter: Alpha(opacity=20);
    opacity: 0.2;
    padding: 0 100px 100px 0;
}
.i001-testimonial-text:after {
    position: absolute;
        bottom: -20px;
    right: -95px;
    content: '\201D';
    font-size: 75px;
    font-family: georgia, serif;
    z-index: 5;
    color: #00acd2;
    filter: Alpha(opacity=20);
    opacity: 0.2;
    padding: 0 100px 0 0;
}
.i001-testimonial-text {
    background: none;
    min-height: 30px;
    position: relative;
    z-index: 10;
}
.i001-testimonial .i001-testimonial-attribution {
    text-align: right;
    font-style: normal;
    font-weight: bold;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    background-color: #fff;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.0784314);
    font-size: 13px;
    font-family: inherit;
    height: 40px;
    padding: 0px 10px;
}
textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
    background-color: #fff;
height: 250px;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.0784314);
    font-size: 13px;
    font-family: inherit;
    padding: 0px 10px;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.cc1{
    background-color: #fff;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.0784314);
    font-size: 13px;
    font-family: inherit;
    height: 40px;
    padding: 0px 10px;
}
textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.cc2{
    background-color: #fff;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.0784314);
    font-size: 13px;
    font-family: inherit;
    padding: 0px 10px;
}
label {
    font-size: 9pt;
    color: #5a5a5a;
    font-weight: 700;
}
input.wpcf7-form-control.wpcf7-submit {
    height: 22px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
    border-radius: 3px!important;
    font-size: 11px;
    width: auto;
    display: inline-block !important;
    min-width: 90px;
    padding-left: 4px;
    padding-right: 4px;
}
.side_menu_button{
height: 45px!important;
}
div#rev_slider_1_1_wrapper {
    height: 560px!important;
}
a.noo-menu-icon-left {
    font-weight: 300!important;
}
.footer_top:hover {
    background: #1a6aad;
}
#nnn{
font-size: 11px!important;
    text-transform: capitalize!important;
}
.page-id-15941 h6 a {
    font-weight: 400;
}
.page-id-15984 h6 a {
    font-weight: 400;
}
.page-id-16066  h6 {
    font-weight: 400;
}
label {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}
